<h2>Products</h2>
<!--Impotante: cuando usamos ngFor para hacer referencia a una colección dentro de un div, 
el scope de ese ngFor queda DENTRO de ese div. tener mucho cuidado de en dónde incorporamos
los demás elementos. Si quedan fuera del div, quedan fuera de alcance -->
<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

<!--Agregamos todo lo que aparezca en todas las ocurrencias de description, siempre y cuando
exista información que mostrar. Por eso usamos ngIf, para asegurarnos de que se cree un nuevo
p sólamente si existe algun description para mostrar-->
<p *ngIf="product.description">
  Description: {{ product.description }}
</p>

<button (click)="share()">
  Share
</button>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
